<div class="fixed-action-btn">
    <a href="/feed" class="btn-floating btn-large waves-effect waves-light" style="position:fixed; top:150px; right:100px;">
        <i class="fas fa-rss"> Go to Story Feed</i>
      </a>
</div>